<div class="container">
    <div>
    <h2>Ajouter un Equipe :</h2>
    </div>
    <form >
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
        <label >ID Equipe</label>
        <input type="text" [(ngModel)]="newEquipe.idEquipe" name="idEquipe" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom Equipe</label>
        <input type="text"[(ngModel)]= "newEquipe.nomEquipe"  name="nomEquipe" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Rank Equipe</label>
        <input type="number" [(ngModel)]= "newEquipe.rankEquipe"name="prixEquipe" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [(ngModel)]= "newEquipe.dateCreation"name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Ligue</label>
            <select class="form-control form-control-lg" id="idLigue" name="idLigue"
            [(ngModel)]="newIdLigue">
            <option *ngFor="let lig of ligues" [value]="lig.idLigue" >
            {{lig.nomLigue}}
            </option>
            </select>
            </div>
        <div class="mt-2">
        <button type="submit" (click)="addEquipe()"class="btn btn-success">Ajouter</button>
        </div>
        <h2 *ngIf="ajouterAvecSucces">Ajouter avec succès</h2>
        </form>
        </div>